# Estructuras de Datos en Python

En este notebook vamos a ver los distintos tipos de estructuras de datos que podemos encontrar en `Python`y que podemos aprovechar para nuestros proyectos. Librerías como `Numpy` o `Pandas`, de las cuales hablaremos más adelante, están diseñadas para aportar funcionalidad extra estas estructuras de datos. Las diferentes estructuras de las que hablaremos son: `tuplas`. `listas`, `dicts` y `sets`.

## Tuplas

Una `tupla` es un objeto `inmutable` con una longitud fija. Un objeto es `inmutable` cuando no puede ser modificado, por lo que utilizar una `tupla` es una decisión para encapsular datos que no queremos que cambien. Para definir una `tupla` simplemente tenemos que definir una secuencia de valores separados por comas dentro de paréntesis.

In [ ]:
t = ( 1, 2, 3)
t

(1, 2, 3)

In [2]:
tu = 1 , 2 , 3
type(tu)

tuple

In [5]:
dos = (2,)
dos

(2,)

Podemos acceder a los diferentes valores de nuestra `tupla` mediante su posición en la secuencia, su índice.

In [6]:
numeros = 1,2,3,4,5,6,7,8,9,10
numeros

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
t[0]

1

In [8]:
t[1]

2

In [9]:
t[-1]

3

In [12]:
numeros

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
numeros [-1]

10

In [11]:
len(numeros)

10

In [13]:
numeros[10]

IndexError: tuple index out of range

In [15]:
numeros[-15]

IndexError: tuple index out of range

> ⚠️ Para indexar un objeto en `Python` el prímer índice siempre es `0` y el último índice equivale a la longitud del objeto menos 1. Indexar un valor fuera de este rango nos dará un error.

In [ ]:
t[len(t)-1]

In [ ]:
t[len(t)]

Al ser una `tupla` un objeto `inmutable`, una vez creada no podremos cambiar ninguno de sus valores.

In [16]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [17]:
numeros[0:5]

(1, 2, 3, 4, 5)

In [18]:
numeros[5:]

(6, 7, 8, 9, 10)

In [19]:
numeros[:5]

(1, 2, 3, 4, 5)

In [20]:
st = "hola marce como andas?"

In [23]:
st[5:10]

'marce'

In [ ]:
st[0] = "H"

TypeError: 'str' object does not support item assignment

In [25]:
type(st)

str

In [ ]:
dir(st)

In [ ]:
tupla = "marcelo", 50, "argentino", 1.80 , True

type(tupla)

tuple

In [29]:
tupla[1:]

(50, 'argentino', 1.8, True)

In [ ]:
tupla [0] [2:]

'rcelo'

In [32]:
dir(tupla)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [37]:
len(tupla)

5

In [36]:
tupla.index("hola")

ValueError: tuple.index(x): x not in tuple

Podemos aplicar ciertos operadores sobre una `tupla`, por ejemplo el operador suma permite concatenar varias tuplas mientras que el operador multiplicación nos permite repetir una tupla un número determinado de veces.

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t3 = t1 + t2

(1, 2, 3, 4, 5, 6)

In [42]:
t1, t2, t3

((1, 2, 3), (4, 5, 6), (1, 2, 3, 4, 5, 6))

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t2 = t1 + t2
t2

(1, 2, 3, 4, 5, 6)

In [46]:
mi_tupla = ()
for i in range (11):
    print(mi_tupla)
    mi_tupla += (i**2,)
mi_tupla

()
(0,)
(0, 1)
(0, 1, 4)
(0, 1, 4, 9)
(0, 1, 4, 9, 16)
(0, 1, 4, 9, 16, 25)
(0, 1, 4, 9, 16, 25, 36)
(0, 1, 4, 9, 16, 25, 36, 49)
(0, 1, 4, 9, 16, 25, 36, 49, 64)
(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [47]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Podemos extraer todos los valores de una tupla de manera individual con el operador `=`.

In [48]:
a, b, c = t1
b

2

Este uso es muy común  para extraer los diferentes valores devueltos por una `función`, algo de lo que hablaremos en otro post.

En una `tupla` podemos incluir valores de diferente tipo.

In [49]:
t = (1, "hola", True)
t

(1, 'hola', True)

También podemos iterar por los diferentes valores de una `tupla` de la siguiente manera.

In [50]:
for item in t:
    print(item)

1
hola
True

In [51]:
numeros

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [53]:
primero ,*medios , ultimo = numeros

In [54]:
print(numeros)
print(primero)
# print(medios)
print(ultimo)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1
10

In [55]:
type(medios)

list

In [56]:
medios

[2, 3, 4, 5, 6, 7, 8, 9]

## Listas

Una `lista` es un tipo de estructura de datos muy similar a la `tupla`, sin embargo es `mutable` por lo que sí que podremos modificar su longitud y contenido. Definimos una `list` mediante una secuencia de valores separados por comas entre corchetes.

In [57]:
l = [1, 2, 3]
l

[1, 2, 3]

In [58]:
len(l)

3

In [59]:
l[0]

1

In [60]:
l[::-1]

[3, 2, 1]

In [61]:
m= "marcelo"

m[::-1]

'olecram'

In [62]:
m

'marcelo'

Podemos utilizar los `métodos` del objeto `lista` para añadir o quitar elementos.

In [63]:
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [64]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False) unbound builtins.list method
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [65]:
# añade un elemento al final de la lista

l.append(4)
l

[1, 2, 3, 4]

In [66]:
# insertar un elemento en una posición determinada

l.insert(2, 2.5)
l

[1, 2, 2.5, 3, 4]

In [67]:
# quitar y devolver un elemento en una posición determinada

l.pop(2)

2.5

In [68]:
l

[1, 2, 3, 4]

In [69]:
# quitar un elemento especificando su valor

l.remove(3)
l

[1, 2, 4]

Podemos utilizar operadores condicionales para saber si una `lista` contiene o no un elemento en particular.

In [70]:
3 in l

False

In [71]:
3 not in l

True

De la misma manera que con una `tupla` podemos usar operadores para concatenar o repetir `listas`.

In [72]:
l1 = [1, 2, 3]
l2 = ["hola", "que", "tal"]

l1 + l2

[1, 2, 3, 'hola', 'que', 'tal']

In [73]:
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Podemos acceder a un valor en particular mediante su índice.

In [ ]:
l = [1, 2, 3, 4]
l[0]

También podemos seleccionar un subgrupo de valores dentro de la lista con los operadores de troceado.

In [ ]:
# devuelve los valores entre los ínideces 1 (inclusivo) y 3 (exclusivo)

l[1:3]

In [ ]:
# devuelve los primeros dos valores

l[:2]

In [ ]:
# devuelve todos los valores desde el índice 2 hasta el final

l[2:]

Podemos utilizar índices negativos para indexar de manera relativa al final de la `lista`.

In [ ]:
# devuelve el último valor

l[-1]

In [ ]:
# devuelve los últimos dos valores

l[-2:]

In [ ]:
# devuelve todos los valores excepto los dos últimos

l[:-2]

Podemos utilizar un tercer argumento para definir un salto en el indexado.

In [ ]:
# devuelve todos los valores en saltos de dos

l[::2]

In [ ]:
# invierte la lista

l[::-1]

### Funciones secuenciales

En `Python` existen varias funciones secuenciales que nos permiten iterar sobre secuencias.

In [74]:
tupla

('marcelo', 50, 'argentino', 1.8, True)

In [76]:
# itera manteniendo el índice y el valor

for i, v in enumerate(tupla,100):
    print(i, v)

100 marcelo
101 50
102 argentino
103 1.8
104 True

In [77]:

for elemento in enumerate(tupla,100):
    print(elemento)

(100, 'marcelo')
(101, 50)
(102, 'argentino')
(103, 1.8)
(104, True)

In [78]:
# itera varias listas a la vez

for v1, v2 in zip(l1, l2):
    print(v1, v2)

1 hola
2 que
3 tal

In [79]:
# itera una lista al revés

for v in reversed(l):
    print(v)

4
2
1

## Dict

`dict` es probablemente la estructura de datos más importante en `Python`. También se le conoce por el nombre de `hash map`. Consiste en una colección de pares `clave-valor` dónde tanto la `calve` como el `valor` son `objetos` de Python. Definimos un `dict` mediante una secuencia de claves-valor entre llaves.

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
d

Podemos insertar nuevos valores especificando la nueva `clave` y el nuevo `valor` de la siguiente manera.

In [ ]:
d['d'] = 4
d

Podemos comprobar si un `dict` contiene alguna clave en particular así

In [ ]:
'a' in d

In [ ]:
'a' not in d

Podemos eliminar entradas en un `dict` con la palabra clave `del`.

In [ ]:
del d['d']
d

Podemos obtener una lista de todas las `calves` y `valores` de un `dict` con los métodos `keys` y `values` respectivamente.

In [ ]:
d.keys()

In [ ]:
d.values()

Podemos mezclar dos `dicts` con el método `update`.

In [ ]:
d2 = {'d': 4, 'e': 5}
d.update(d2)
d

En `Python` es muy común crear `dicts` a partir de `listas`.

In [ ]:
d = {}
keys = ['a', 'b', 'c']
values = [1, 2, 3]
for k, v in zip(keys, values):
    d[k] = v
d

## Sets

Un `set` es una colección no ordenada de `objetos` únicos, puede verse como un `dict` en el que sólo tenemos claves y no valores. Podemos crear un `set` mediante una secuencia de valores separados por comas entre llaves.

In [ ]:
s = {1, 2, 3}
s

Tenemos diferentes `métodos` a nuestra disposición para trabajar con `sets`.

In [ ]:
# unión

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a.union(b)

In [ ]:
# intersección

a.intersection(b)

In [ ]:
# sub-sets

{1, 2}.issubset(a)

In [ ]:
{5, 6}.issubset(a)

## List comprehension

`List comprehension` es una de las características más útiles en `Python` ya que proveen una manera rápida y concisa de crear una nueva lista a partir de otra pudiendo filtrar o transformar los diferentes elementos.

In [ ]:
l = [1, 2, 3, 4, 5]

# obtener una nueva lista con elementos multiplicados por 2
l2 = []
for i in l:
    l2.append(i*2)
l2

In [ ]:
# usando `list comprehension`

l2 = [2*i for i in l]
l2

Podemos usar expresiones equivalentes con el resto de estructuras de datos, por ejemplo con un `dict`.

In [ ]:
l1 = ["a", "b", "c"]
l2 = [1, 2, 3]

d = {k: v for k, v in zip(l1, l2) if v <= 2}
d

Como puedes ver `list comprehension` permite generar nuevas estructuras de datos de manera concisa, siendo muy útil para operaciones de mapeo o filtrado.

## Resumen

En este notebok hemos visto las estructuras de datos que `Python` no ofrece así como las funciones más útiles a la hora de trabajar con ellas. Podemos usar `tuplas`, `listas`, `dicts` y `sets` para agrupar `objetos` de `Python` en estructuras con entidad y funcionalidad propia. Librerías de análisis de datos como `Numpy` o `Pandas` extienden estas estructuras de datos y funcionalidades para llevar a cabo tareas más complejas e interesantes.